{% load static %}

<!DOCTYPE html>
<html lang="us">
<head>
    <title>Test</title>
    <link rel="stylesheet" href="{% static 'style/auth.css' %}">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/images.css' %}">
    <link rel="stylesheet" href="{% static 'style/exchange_css.css' %}">
    <style>
        body {
            background-image: url("{% static 'images/bg.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>

<header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if is_logged %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'weather' %}">Weather</a></li>
                <li><a href="{% url 'image_upload' %}">Upload image</a></li>
                <li><a href="{% url 'exchange_rate' %}">Exchange rate</a></li>
                <li class="logout">Welcome, {{ user.username }}</li>
                <li><a href="{% url 'logout_view' %}">Logout</a></li>
            {% else %}
                <li class="login"><a href="{% url 'login_view' %}">Login</a></li>
                <li><a href="{% url 'register_view' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

{% block content %}
    <div class="check-logged">
        {% if not is_logged %}
            Not Logged
        {% endif %}
    </div>

    <div class="container-beginning">
        <h5>This is my first django project</h5>
    </div>
{% endblock %}

<footer>
    {#        <p>&copy; </p>#}
</footer>

</body>
</html>
