.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container {
    border-radius: 20px;
    width: 300px;
    max-width: 800px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
}

h2 {
    color: #004f44;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 10px;
    text-align: center;
    outline: 30px;
}

form {
    max-width: 500px;
    margin: 0 auto;

}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}


.login-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}


.errorlist {
    color: #a90000;
    list-style-type: none;
}

.err {
    color: #a90000;
    text-align: center;
    font-size: 17px
}

.profile_delete {
    width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgba(125, 251, 255, 0);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile_delete h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile_delete form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile_delete .btn_back {
    background-color: #ccc;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}


.delete_button {
    margin-top: 100px;
    background-color: #a40000;
    color: white;
    padding: 8px 16px;
    margin-bottom: 100px;
    font-size: 16px;
    border-radius: 4px;
    text-decoration: none;
}

.profile_delete .btn_back {
    background-color: #008809;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.btn_delete {
    background-color: #a40000;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}


.user-info {
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    width: 700px;
    margin: 30px auto;
    padding: 10px;
    background-color: rgba(88, 255, 249, 0.13);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h7 {
    font-size: 50px;
}

.profile-text {
    font-size: 30px;
}

.profile-picture {
    float: left;
    margin-right: 20px;
}

.profile-picture img {
    width: 120px;
    height: 120px;
}


.profile-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn_delete, .image_button {
    margin-right: 10px;
}

.image_button {
    background-color: #007036;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}
