{% extends 'base.html' %}

{% block content %}

    <section class="auth">
        <div class="container">
            <h2>Login</h2>
            <form method="post">

                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="login-button">Login</button>

                {% if error %}
                    <p class="err">
                        {{ error }}
                    </p>
                {% endif %}
            </form>
        </div>
    </section>

{% endblock %}
