{% extends 'base.html' %}
{% load custom_filters %}


{% block content %}

    <section class="show_image">
        {% for image in images %}
            <div class="image-container">
                <div class="image-name">
                    {{ image.image_name }}
                </div>

                <img src="data:image/jpeg;base64,{{ image.image_data|base64_encode }}" alt="Uploaded Image">

                <div class="change-picture-container">
                    <form method="POST" action="{% url 'change_profile_picture' image.id %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit">Change Profile Picture</button>
                    </form>
                </div>

                <div class="delete-button-container">
                    <form method="POST" action="{% url 'delete_image' image.id %}" class="delete-image-form">
                        {% csrf_token %}
                        <button type="submit" class="delete-image-button">X</button>
                    </form>
                </div>

            </div>
        {% empty %}
            <p>No images uploaded yet.</p>
        {% endfor %}
    </section>


{% endblock %}